filebeat.config:
  modules:
    path: ${path.config}/modules.d/*.yml
    reload.enabled: false

filebeat.inputs:
- type: log
  paths:
{% for path in paths %}
  - {{ path }}
{% endfor %}
  tags: {{ tags | to_yaml }}

setup.template.enabled: false

output.elasticsearch:
  hosts: {{ elastic_hosts | to_yaml }}
  bulk_max_size: {{ bulk_max_size }}
